extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ahirina Rivera

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Call me Nina! I am a 26-year-old Mexican-American who spent my childhood in the busy border
            | city of Nuevo Laredo, Tamaulipas before moving back to Texas, my birth state, when I was 12.
            | I served my country as an Army Diesel Mechanic and I helped lead my college soccer team to the
            | National Finals. I am embarking on yet another journey to become the best Web Developer for the
            | team I will be working for. I am also a proud parent of a small furry animal Yogi :)

            p.text-light
            | Collage 2019:
            img.thumbnail(src='/static/images/me.jpg')

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technical Skills

        ul
          li Express
          li JavaScript
          li jQuery
          li Ajax
          li Pug
          li HTML
          li CSS
          li Node.js
          li NPM Packages
          li Fetch APIs

        h6 Contacting Ahirina 

        ul
          li Cell:  817-888-8888 
          li Email: nination14@gmail.com

        a.button.expanded(href='https://github.com/nination14?tab=repositories' target= '_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  